<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Creación de autor</title>
</head>
<body>
    <!--Cuando se carga la pagina es un metodo GET-->
    <form method="POST">
        <!-- middleware csrf_ -->
        {% csrf_token %}
        <!-- Pintamos como parrafo -->
        {{autor_form.as_p}} <!--as_table-->
        <button type="submit">Crear</button>
    </form>
</body>
</html>