<!-- hereda todo del archivo index.html-->
{%extends 'index.html'%}

<!-- Cambiar el HTML-->
{% block titulo %} Creación de Autores {% endblock titulo %}

<!--Cuando se carga la pagina es un metodo GET-->
{% block body %}
<form method="POST">
    <!-- middleware csrf_ -->
    {% csrf_token %}
    <!-- validación de los errores con django-->
    {% if error %}
    <h2>{{error}}</h2>
    {% else %}
    <!-- Pintamos como parrafo -->
    {{autor_form.as_p}}
    <button type="submit">Crear</button>
    <!--as_table-->
    {% endif %}


</form>
{% endblock body %}