{% extends 'index.html' %}
{% block titulo %} Lista de Autores {% endblock titulo %}
{% block body %}
{% if autores %}
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Nacionalidad</th>
            <th>Descripción</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% for autor in autores %}
        <tr>
            <td>{{autor.id}}</td>
            <td>{{autor.nombre}}</td>
            <td>{{autor.apellidos}}</td>
            <td>{{autor.nacionalidad}}</td>
            <td>{{autor.descripcion}}</td>
            <td>
                <!-- hacemos un llamado al nombre que tiene la url que llamala función con su id-->
                <a href="{% url 'libro:editar_autor' autor.id %}">Editar</a>
            </td>
            <td>
                <a href="{% url 'libro:eliminar_autor' autor.id %}"> Eliminar </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h1>No existen autores registrados</h1>
{% endif %}
{% endblock body %}